@* Define o modelo desta view como do tipo string *@
@model String
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    @* O model String informado acima será renderizado aqui *@
    @Model
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
