@model Usuario
@{
    ViewBag.Subtitulo = "Cadastro";
}

<form method="POST" class="w-25" action="">
    @*Boa prática colocar id no corpo da página - para não depender do parametro da rota*@
    <input type="hidden" asp-for="IdUsuario">
    <div class="form-group">
        @* <label for="txtNome">Nome:</label><br> *@
        <label asp-for="Nome">Nome:</label><br>
        @* <input type="text" class="form-control" name="Nome" id="txtNome" value="@Model.Nome"> *@
        <input asp-for="Nome" class="form-control">
    </div>
    <div class="form-group">
        @* <label for="txtEmail">E-mail:</label><br> *@
        <label asp-for="Email">E-mail:</label><br>
        @* <input type="text" class="form-control" name="Email" id="txtEmail" value="@Model.Email"> *@
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mt-3">
        <a href="/Home/Usuarios" class="btn btn-light">Usuário</a>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>