<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>

<body>
    <h1>Página Principal</h1>
    <p>Bem vindo ao ASP.NET Core 5!</p>
</body>

</html>