<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <title>Página Principal</title>
</head>

<body>

    <div class="container">
        <h1 class="text-primary">CRUD com ASP.NET Core</h1>
        <hr>
        <a href="/Home/Usuarios" class="btn btn-primary">Usuário</a>
    </div>
</body>

</html>