<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <title>Página Principal</title>
</head>

<body>

    <div class="container">
        <h1 class="text-primary">Página Principal</h1>
        <hr>
        <p>Bem vindo ao ASP.NET Core 5!</p>
        <a href="/Home/Cadastrar" class="btn btn-primary">Quero me cadastrar</a>
    </div>
</body>

</html>