@{
    ViewBag.Subtitulo = "P치gina Principal";
}

<h1 class="text-primary">CRUD com ASP.NET Core</h1>
<hr>
<h3 class="text-info">Usu치rios Cadastrados: @ViewBag.QtdeUsuarios</h3>
<a href="/Home/Usuarios" class="btn btn-primary">Usu치rio</a>

@section Footer{
    <span>P치gina Principal</span>
}